/* debug */
body *{
  border: 1px solid black;
  /* min-height: 60px !important; */
}

[class*="col-"] {
  background-color: lightyellow;
  min-height: 60px !important;
}

header, nav, section, footer{
  border: 3px solid black;
  margin-bottom: 25px;
}
/*  */


/* regole generali */
body > header > *, body > section > *, body > footer > *{
  /* necessario a centrare le col */
  width: 100%;
}

ul{
  list-style-type: none;
}

.fix{
  content: "";
  display: table;
  clear: both;
}
/*  */


/* sezione di testa */
      /* nav */
      /* regole generali */
       nav a{
        float: left;
        width: 25%;
      }

      .logo, .burger{
        display: block;
        float: none;
        width: 100%;
        height: 100%;
      }

       .center_navbar_left, .center_navbar_right{
        width: 100%;
        transform: translate(0, 50%);
      }

      nav .allineatore{
        width: 100%;
        height: 58px;
        position: relative;
      }
      /*  */

        /* logo*/
        .logo > img{
          width: 90%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
       }
        /*  */

        /* center navbar left */
        
        /*  */

        /* center navbar left */

        /*  */


        /* burger */
        .burger i{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 30px;
        }
        /*  */

/*end sezione di testa  */



/* sezione: sponsor */
.sponsor .allineatore{
  width: 100%;
  height: 150px;
  position: relative;
}

.sponsor img{
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*  */



/* sezione info */
.info ul{
  padding: 0;
}

.info li{
 border-left: 1px solid gray;
}

/*  */

/* sezione: fordevs 1 */
.fordevs_uno img{
  width: 100%;
}
/*  */

/* sezione data */
.data table{
  width: 100%;
}

.data table *{
  border: none;
  border-bottom: 1px solid gray;
}
/*  */

/* sezione: for devs 2 */
.fordevs_due img{
  width: 100%;
}
/*  */

/* footer */
footer{
  margin-bottom: 0;
}

footer *{
  background-color: #010e28;
  border: 0;
}

footer [class*="col-"] {
  background-color: inherit;
}

footer img{
  width: 10%;
}
/*  */
