/* regole generali */
body, html {
  width: 100%;
}

body > header > *, body > section > *, body > footer > *{
  /* necessario a centrare le col */
  width: 100%;
}

ul{
  list-style-type: none;
}

.fix{
  content: "";
  display: table;
  clear: both;
}

.get_started span, .sponsor span, .features span, .create_account span{
  display: block;
  width: 100%;
  height: 100%;
}

a:hover{
  text-decoration-line: none;
}
/*  */


/* sezione di testa */
  /* sottosezione: nav */
    /* regole generali */
    nav{
    padding: 7.5px 0;
    }

    nav a{
    float: left;
    width: 25%;
    color: #031c4e;
    font-size: 100%;
    padding: 5px 0;
    }

    .logo, .burger{
    display: block;
    float: none;
    width: 100%;
    height: 100%;
    }

    .center_navbar_left, .center_navbar_right{
    width: 100%;
    transform: translate(0, 50%);
    }

    nav i{
    margin-left: 3px;
    font-size: 90%;
    }

    nav .allineatore{
    width: 100%;
    height: 58px;
    position: relative;
    }
    /*  */

      /* logo*/
      .logo > img{
        width: 90%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      /*  */

      /* center navbar left */

      /*  */

      /* center navbar right */
      .center_navbar_right > .btn{
        font-size: 100%;
        background-color: white;
        border-color: #006aff;
        color: #006aff;
        line-height: unset;
      }
      /*  */

      /* burger */
      .burger i{
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 30px;
        color: #2285fd;
      }
      /*  */
  /*  */

  /* sottosezione: intestazione */
    header > section{
      background-image: url("img/background.jpg");
      padding: 50px 0;
    }

    header .intestazione{
      color: white;
    }

    header .intestazione > h1{
      font-size: 67px;
      font-weight: 600;
    }

    header .intestazione > p{
      color: darkgray;
      font-size: 22px;
      font-weight: 300;
      padding: 0 5px;
    }

    .get_started{
      width: 95%;
      margin: 0 auto;
      background-color: white;
      padding: 50px 17px;
      border-radius: 7px;
    }

    .get_started h2{
      font-size: 35px;
      font-weight: 600;
      padding: 0 5px;
    }

    .get_started h2 > span{
      color: #2b82ff;
    }

    .google > div{
      position: relative;
    }

    .google img{
      width: 31px;
      position: absolute;
      top: -33%;
      left: -1%;
    }

  /*  */

/*end sezione di testa  */



/* sezione: sponsor */
.sponsor{
  padding: 10px 75px;
  background-color: #f3f5f9;
}
.sponsor .allineatore{
  width: 100%;
  height: 150px;
  position: relative;
}

.sponsor img{
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sponsor h5{
  color: #031c4e;
  font-size: 15px;
}

.sponsor h6{
  color: #2b82ff;
  font-size: 15px;
}

.sponsor i{
  margin-left: 3px;
  font-size: 80%;
}
/* end sezione: sponsor */

/* sezione info */
.info{
  padding: 50px 0;
}

.info ul{
  padding: 0;
}

.info h2{
  color: #031c4e;
  font-weight: 600;
}

.info h3{
  color: #5c6a88;
  margin-bottom: 25px;
}

.info li{
 border-left: 1px solid #5c6a88;
 padding: 5px;
}

.info li a{
  color: #5c6a88;
  font-size: 20px;
}

.deploy h3{
  color: #031c4e;
  font-weight: 600;
}

.deploy h4{
  color: #5c6a88;
}
/* end sezione: info  */


/* sezione: fordevs 1 e 2 */
.fordevs_uno, .fordevs_due{
  background-color: #f3f5f9;
  padding: 50px 0;
}

.fordevs_uno h2, .fordevs_due h2{
  color: #031c4e;
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 15px;
}

.fordevs_uno h3{
  color: #5c6a88;
}

.fordevs_uno h5{
  color: #031c4e;
  font-size: 17px;
}

.infograf_cont{
  position: relative;
  width: 100%;
}

.fordevs_uno img, .fordevs_due img{
  position: relative;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 90%;
  padding: 0 5%;
}

.fordevs_uno a, .fordevs_due a{
  width: 5%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  font-size: 200%;
  text-align: center;
}

.fordevs_uno .right, .fordevs_due .right {
  top: 50%;
  left: 95%;
}

.dots_menu{
  margin-top: 20px;
  display: block;
  color: #337ab7;
  font-size: 70%;
  text-align: center;
}
/* end sezione: fordevs 1 e 2 */

/* sezione: features */
.features{
  padding: 50px 0;
}

.features img{
  width: 50px;
  height: auto;
}

.features h2, .features h3{
  color: #031c4e;
  font-weight: 600;
}

.features h2{
  margin-bottom: 25px;
}

.features h3{
  font-size: 15px;
}

.features h4{
  color: #5c6a88;
  font-size: 12px;
  font-weight: 400;
}

.features h5{
  color: #2b82ff;
  font-size: 12px;
  font-weight: 400;
}

.features i{
  margin-left: 3px;
  font-size: 80%;
}
/* end sezione: features */


/* sezione data */
.data{
  background-color: #0030aa;
  color: white;
  padding: 50px 0;
}

.data h2{
  color: white;
  font-weight: 600;
}

.data table{
  width: 100%;
  margin-bottom: 30px;
}

.data table tr{
  border-bottom: 1px solid white;
  font-size: 12px;
  font-weight: lighter;
  color: rgb(183, 173, 173)
}

.data table td{
  padding: 9px;
}

.data td:first-child{
  color: white;
}

.data td > a > span{
  color: #00d5d1;
}

.data .glyphicon.glyphicon-chevron-right{
  font-size: 70%;
  padding-left: 0;
}
/* end sezione: data  */



/* sezione: for devs 2 */

/* raggruppato con fordevs 1 a riga 230 */

/*  */



/* sezione create_account */
.create_account{
  background-color: #0030aa;
  padding: 50px 0;
}

.create_account h2{
  color: white;
  font-weight: 600;
  padding-bottom: 20px;
}

.create_account .btn{
  background-color: white;
  color: #006aff;
}
/* end sezione: create_account  */



/* footer */
footer{
  background-color: #010e28;
  padding: 50px 0;
}

footer img{
  width: 10%;
}

footer a, footer h5{
  color: gray;
}

footer h4{
  color: white;
}

footer h6, .socialbar{
  color: darkgray;
  margin-bottom: 25px;
}
/* end footer */
